*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;

}

header {
    padding: 20px;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%
}

section {
    background-color: blueviolet;
    padding: 10px;
    width: 75%;
    /* change this */
    min-height: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside {
    width: 25%;
    background-color: bisque;
    /* hey */
    min-height: 400px;
}

aside h3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin: 10%;
    font-size: 25px;
}

span {
    margin-left: 5%;
}

footer {
    background-color: azure;
    min-height: 100px;
    width: 100%;
    
}

html footer {
    display: flex;
    flex-direction: column;
}

h2 {
    padding: 20px;
    font-size: 50px;
}

button {
    margin: 20px;
}

.timer-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

/* how to make the button go to the bottom of the aside bar? */
.bottom {
    text-align: center;
}

#playBoard {
    width: 80%;
    background-color: yellow;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#timer {
    font-size: 40px;
    padding: 20px;
    border-bottom: 2px;
    border-bottom-color:solid red;
}